.myContainer{
    background-color: #075207;
    height: 100vh;
}

.myCard{
    width: 430px;
    background-color: white;
    border-radius: 40px;
    box-shadow: 10px 5px 5px #064706;
    height: 600px;
    
}

.pUp{
    line-height: 110px;
    margin-left: 5px;
    font-size: 8.5rem;
}
.myNum{
   line-height: 380px;
    font-size: 20rem;
}
.pDown{
    line-height: 110px;
    margin-right: 5px;
    font-size: 8.5rem;
    transform: rotate(180deg);
}